.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backround {
  color: #f76f91; 
}
.custom-bar{
  background-color: #ffb3c6; 
  color: black;
}
.custom-bar-hover{
  border: 2px solid #f76f91; 
  color: black;
}
.custom-barhover:hover{
  border: solid #f76f91; 
  color: black; 
}

.custom-carousel{
  background-color: #ffb3c6; 
}
.custom-card {
  background-color: #ffb3c6; 
  border: 2px solid #f76f91; 
  color: black;

}
.custom-card:hover{
  background-color: #ffff; 
  border: 2px solid #f76f91; 
}
.custom-input {
  border: 2px solid #f76f91; 
  color: black; 
}
.custom-input:hover{
  background-color: #ffb3c6; 
}
.custom-hover{
  color: white;
  border: 2px solid #f76f91; 
}
.custom-hover:hover{
  color: #ffffff; 
}
.custom-badge{
  background-color: #f76f91; 
  border: 2px solid #ffb3c6; 
  color: white;
}
.custom-view{
  border: 2px solid #f76f91; 
}